<div id="content">
    <!-- floor-1 -->
    <div id="ascensorFloor1" class="myAscensorFloor">
      <div  class="inner-content">
        <h1 class="first-title">Добре дошли в <span class="pchelandia">Пчеландия</span></h1>
        <p class="text-main">Тук се случват най-цветните истории, не само защото са оцветени в жълто, зелено и оранжево, а и защото ухаят - на пролет и на приключения. Например в първата история се разказва за . . .</p>

        <div class="text-button"><a href="" class="menu-text-btn">научи повече</a></div>
      </div>
    </div>
    <!-- floor-2 -->
    <div id="ascensorFloor2" class="myAscensorFloor">
      <div class="book-background">
        <div class="container">
          <div class="component">
            <ul class="align">
              <li>
                <figure class='book'>

                  <!-- Front -->

                  <ul class='hardcover_front'>
                    <li>
                      <%= image_tag("Cover.jpg", alt: "cover", width:"100%", height:"100%")%>
                    </li>
                    <li></li>
                  </ul>

                  # <!-- Pages -->

                  <ul class='page'>
                    <li></li>
                    <li>
                      <a class="btn" href="#">РАЗГЛЕДАЙ</a>
                    </li>
                    <li></li>
                    <li></li>
                    <li></li>
                  </ul>

                  # <!-- Back -->

                  <ul class='hardcover_back'>
                    <li></li>
                    <li></li>
                  </ul>
                  <ul class='book_spine'>
                    <li></li>
                    <li></li>
                  </ul>
                  <figcaption>
                    <h1>Цветни Истории</h1>
                    <span>ИСТОРИЯ ПЪРВА: В ТЪРСЕНЕ НА ИЗГУБЕНАТА ПРОЛЕТ</span>
                    <p>Мечтата на малка пчелна принцеса да види пролетта я отвежда
                      на вълшебно място. Тя попада в приказна гора, в която
                      музиката лекува, а песента повдига духа. По пътя си
                      среща приятел, на когото винаги може да разчита.
                      Разбира, че търтеите не са само мързеливи и досадни,
                      но могат да бъдат верни приятели и да те забавляват
                      дори когато ти е най-тъжно.
                    </p>
                    <p><q>"Знаеш ли Жако, толкова е хубаво да отлетиш надалеч, за да нямаш трпение да се завърнеш у дома"</q></p>
                  </figcaption>
                </figure>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    # <!-- floor-2.1 -->
    <div>
      <div class="show-book"></div>
    </div>
    <!-- floor-3 -->
    <div id="ascensorFloor3" class="myAscensorFloor">
      <div class="all-four">
        <div class="all-four-wraped">

          <div class="div-one-four">
            <div class="image-div"><%= image_tag(class:"image-tag", src:"http://3.bp.blogspot.com/-2v2xO3dkStI/U0ATYnjKs0I/AAAAAAAAEnI/JBcy5nZSuYg/s890/%25D0%25A1%25D0%259F%2B-%2B%25D0%25BB%25D0%25BE%25D0%25B3%25D0%25BE.gif", alt:"sun")%></div>
            <div class="text-all">
              <h2 class="div-title">За Слънчевата педагогика</h2>
              <p class="p-style">Слънчевата педагогика има три основни принципа – Любов, Мъдрост и Истина, които са главна част от философската основа на педагогическата система. Тези три принципа се допълват от дванайсет лъча – направления...</p>
              <div class="more-button"><a class="more-text-btn" href="">още</a></div>
            </div>
          </div>

          <div class="div-one-four">
            <div class="image-div"><%= image_tag(class:"image-tag", src:"http://www.planwallpaper.com/static/images/nature.jpg", alt:"nature") %></div>
            <div class="text-all">
              <h2 class="div-title">За Природата</h2>
              <p class="p-style">Слънчевата педагогика има три основни принципа – Любов, Мъдрост и Истина, които са главна част от философската основа на педагогическата система. Тези три принципа се допълват от дванайсет лъча – направления...</p>
              <div class="more-button"><a class="more-text-btn" href="">още</a></div>
            </div>
          </div>

          <div class="div-one-four">
            <div class="image-div"><img class="image-tag" src="https://thornleyfallis.com/wp-content/uploads/2014/08/creative-rut-blog-post-picture-v2.jpg" alt="nature"></div>
            <div class="text-all">
              <h2 class="div-title">За Идеята</h2>
              <p class="p-style">Слънчевата педагогика има три основни принципа – Любов, Мъдрост и Истина, които са главна част от философската основа на педагогическата система. Тези три принципа се допълват от дванайсет лъча – направления...</p>
              <div class="more-button"><a class="more-text-btn" href="">още</a></div>
            </div>
          </div>

          <div class="div-one-four">
            <div class="image-div"><%= image_tag(class:"image-tag", src:"http://www.freedomchurchlife.com/files/verochurch/children2.gif", alt:"children") %></div>
            <div class="text-all">
              <h2 class="div-title">За Децата</h2>
              <p class="p-style">Слънчевата педагогика има три основни принципа – Любов, Мъдрост и Истина, които са главна част от философската основа на педагогическата система. Тези три принципа се допълват от дванайсет лъча – направления...</p>
              <div class="more-button"><a class="more-text-btn" href="">още</a></div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- floor-4 -->
    <div id="ascensorFloor4" class="myAscensorFloor">
      <div class="autor">
        <span class="paragraph-title">Глория Ангелова</span>
        <p class="autor-p">Мелина-Елина Бондокова завършва анимация в София.
          За дългите години практика е успяла да установи авторитетно
           име в чужбина и в България като илюстратор на книги и
          комикси (има издадени над 20). Някои от многото й
          късометражни анимационни филми са взимали участие на
          различни фестивали в България, Румъния, Италия,
          Великобритания. В момента е един от основателите на
          Студио за анимация Павилион. „Анимацията те учи да
          уважаваш мнението на другия, дори да не си съгласен
          понякога, защото две глави винаги мислят по-добре от
          една.”, твърди Мелина.
        </p>
        <span class="paragraph-title">Илюстрирана от Мелина-Елина Бондокова</span>
        <p class="autor-p">Мелина-Елина Бондокова завършва анимация в София.
          За дългите години практика е успяла да установи авторитетно
           име в чужбина и в България като илюстратор на книги и
          комикси (има издадени над 20). Някои от многото й
          късометражни анимационни филми са взимали участие на
          различни фестивали в България, Румъния, Италия,
          Великобритания. В момента е един от основателите на
          Студио за анимация Павилион. „Анимацията те учи да
          уважаваш мнението на другия, дори да не си съгласен
          понякога, защото две глави винаги мислят по-добре от
          една.”, твърди Мелина.
        </p>
      </div>
    </div>
    <!-- floor-5 -->
    <div id="ascensorFloor5" class="myAscensorFloor">
      <div class="contact-bg-div">
        <div class="adress-map-div">
          <div id="googleMap" style="width:550px;height:380px;"></div>
          <h3 class="title-adress">"Цветни Истории" се издава и разпространява от Издателство "Бяло Братство"</h3>
          <h3 class="title-adress">София, кв. Изгрев, ул. „ген. Щерю Атанасов“ 2</h3>
        </div>

        <div class="form-div">
          <form id="contactform" class="all-inputs" action="contact-form-proc.php"  method="post" enctype="text/plain">
            <h1 class="form-text">Име</h1>
            <input class="input-box" type="text" name="name">

            <h1 class="form-text">Емейл</h1>
            <input class="input-box" type="text" name="email" autocomplete="off">

            <h1 class="form-text">Относно</h1>
            <input class="input-box" type="text" name="about">

            <h1 class="form-text">Съобщение</h1>
            <textarea class="input-box div-textarea" type="text" name="message" rows="10" cols="40"></textarea>

            <br><br>
            <input type="submit" name="submit" value="изпрати">
          </form>
        </div>
      </div>
    </div>

  <div class="footer">
    <p class="copyright">© 2016 Цветни Истории. Всички права запазени. Създадено от Gloria</p>
  </div>
